:root {
  --primary-color: #181c1d;
  --seconday-color: #f3f6f4;
  --gray: #f1f3f5;
  --dark: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

h1 {
  margin: 20px 4.8%;
}

hr {
  margin: 10px 0;
  border-bottom: 1px solid var(--gray);
}

button,
.btn {
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}

header,
footer,
#view_selector {
  justify-content: space-between !important;
  background-color: var(--primary-color);
  padding: 20px;
}

header *,
footer * {
  color: var(--seconday-color);
}

#site img,
#theme-selector {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  object-fit: cover;
}

#theme-selector,
#social a img {
  filter: brightness(0) invert(100%) sepia(100%) saturate(500%)
    hue-rotate(180deg);
}

#navigation nav {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: -100vw;
  left: 0;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: var(--dark);
  transition: top 300ms ease-in-out;
}

#navigation nav * {
  font-size: 5rem;
}

#navigation nav a:hover {
  text-decoration: underline;
}

#menu-mobile {
  z-index: 9;
  font-size: 1.5rem;
}

#view_selector {
  display: flex;
  justify-content: center !important;
}

#view_selector button {
  background-color: var(--seconday-color);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.container {
  width: 90vw;
  margin: 20px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid .card {
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.list .card:nth-child(even) {
  background-color: #c9ccce;
}

.list .card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list .card * {
  width: 30%;
}

.list .card img {
  display: none;
}

.card {
  background-color: var(--gray);
  text-align: center;
  padding: 10px;
}

/* .card:hover {
  background-color: #c1c7ce !important;
}
 */
.card a {
  color: var(--dark);
  text-decoration: underline;
}

/* home */
#hero {
  position: relative;
}

#hero img {
  height: 40vh;
  width: 100%;
}

#hero button {
  position: absolute;
  bottom: 20vh;
  right: 50vw;
  transform: translateX(50%);
  z-index: 2;
  background-color: var(--seconday-color);
  color: var(--primary-color);
  padding: 15px;
  border-radius: 10px;
}

#home-sections div h2 {
  background-color: var(--primary-color);
  color: var(--seconday-color);
  padding: 4px;
  margin-bottom: 10px;
}

#home-sections div {
  padding: 10px;
}

#current-weather div {
  display: flex;
}

#current-weather div img {
  width: 100px;
}

#business-cards {
  margin: 50px auto;
}
#business-cards .card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#business-cards .card hr {
  border-color: var(--dark);
}

.card-business-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card-business-data img {
  width: 100px;
  height: auto;
}
/* general */
@media screen and (min-width: 768px) {
  #navigation nav {
    height: initial;
    position: initial;
    flex-direction: row;
    display: flex !important;
  }

  #navigation nav * {
    font-size: initial;
  }

  #menu-mobile {
    display: none;
  }

  footer {
    display: flex;
    padding: 10px 100px;
  }

  #hero img {
    height: 76vh;
    transition: height 600ms ease-in-out;
  }
  #hero button {
    bottom: 10vh;
    right: 10vw;
  }
}
