:root {
  --primary-color: #181c1d;
  --secondary-color: #f3f6f4;
  --gray: #f1f3f5;
  --dark: #171717;
  --border-color: #dde5ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

h1 {
  margin: 20px 4.8%;
}

hr {
  margin: 10px 0;
  border-bottom: 1px solid var(--gray);
}

button,
.btn {
  cursor: pointer;
  background-color: var(--dark);
  color: var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.active {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}

header,
footer,
#view_selector {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 20px;
}

header *,
footer * {
  color: var(--secondary-color);
}

#site img,
#theme-selector {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  object-fit: cover;
}

#theme-selector,
#social a img {
  filter: brightness(0) invert(100%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

#navigation nav {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: -100vw;
  left: 0;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: var(--dark);
  transition: top 300ms ease-in-out;
  z-index: 3;
}

#navigation nav * {
  font-size: 5rem;
}

#navigation nav a:hover {
  text-decoration: underline;
}

#menu-mobile {
  z-index: 9;
  font-size: 1.5rem;
}

#view_selector {
  display: flex;
  justify-content: center;
}

#view_selector button {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.container {
  width: 90vw;
  margin: 20px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
}

.grid .card {
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .discover-cards .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (max-width: 480px) {
  .grid,
  .container.join.grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .membership-cards {
    width: 80%;
  }

    .discover-cards .card {
    display: grid;
    grid-template-areas:
      'photo title'
      'photo description'
      'photo address';
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.list .card:nth-child(even) {
  background-color: #c9ccce;
}

.list .card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list .card * {
  width: 30%;
}

.list .card img {
  display: none;
}

.card {
  background-color: var(--gray);
  text-align: center;
  padding: 10px;
}

.card a {
  color: var(--dark);
  text-decoration: underline;
}

/* home */
#hero {
  position: relative;
}

#hero img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

#hero button {
  position: absolute;
  bottom: 20vh;
  right: 50vw;
  transform: translateX(50%);
  z-index: 2;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
  border-radius: 10px;
}

#home-sections div h2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 4px;
  margin-bottom: 10px;
}

#home-sections div {
  padding: 10px;
}

#current-weather div {
  display: flex;
}

#current-weather div img {
  width: 50px;
  height: 50px;
}

#business-cards,
.membership-cards {
  margin: 50px auto;
}

.membership-cards {
  width: 300px;
}

#business-cards .card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#business-cards .card hr {
  border-color: var(--dark);
}

.card-business-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card-business-data img {
  width: 100px;
  height: auto;
}

/* join */
.container.grid {
  grid-template-columns: repeat(2, 1fr);
}

.membership-cards {
  animation: fadeInCard 1s ease forwards;
}

.membership-cards div {
  background-color: var(--gray);
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

#join-form {
  width: 300px;
  margin: auto;
}

#join-form,
#join-form label {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

label input {
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

label textarea,
label select {
  border: 1px solid var(--border-color);
  resize: none;
}

/* general */
@media screen and (min-width: 768px) {
  #navigation nav {
    height: initial;
    position: initial;
    flex-direction: row;
    display: flex;
  }

  #navigation nav * {
    font-size: initial;
  }

  #menu-mobile {
    display: none;
  }

  footer {
    display: flex;
    padding: 10px 100px;
  }

  #hero button {
    bottom: 10vh;
    right: 10vw;
  }
}

@keyframes fadeInCard {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
}

.modal-content {
  background: var(--secondary-color);
  padding: 2rem;
  margin: 15% auto;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.close {
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color);
  position: absolute;
  right: 22%;
  top: 20%;
}

.sidebar {
  background-color: #fff;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.discover-cards .card {
  display: grid;
  justify-content: center;
  grid-template-areas:
    'title'
    'photo'
    'description'
    'address';
}

.discover-cards .card h2 {
  font-size: 1.5rem;
  grid-area: title;
}

.discover-cards .card .address{
  padding: 15px;
  grid-area: address;
}

.discover-cards .card img {
  width: 200px;
  margin: 10px auto;
  height: auto;
  object-fit: cover;
  grid-area: photo;
  transition: transform linear 100ms;
}

.discover-cards .card img:hover {transform: scale(1.02);}

.discover-cards .card .description {
  grid-area: description;
}