:root {
    --primary-color: #181717;
    --secondary-color: #f4f4f4;
    --gray: #f1f3f5;
    --border-color: #dde5ec;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

header {
  background-color: var(--primary-color);
  padding: 10px 0;
  text-align: center;
}
header h1{
    color: var(--secondary-color);
}

h2 {font-weight: bold;}
section {
  margin: 20px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}
footer {
  text-align: center;
  padding: 10px 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.wireframe a {
  cursor: pointer;
  color: var(--dark);
  text-decoration: underline;
}
